
$grid-columns: 12;
$grid-gutter-width : 30px;
 
$container-xs : ((480px + $grid-gutter-width));
$container-sm : ((720px + $grid-gutter-width));
$container-md : ((940px + $grid-gutter-width));
$container-lg : ((1140px + $grid-gutter-width));
 
@mixin container-fixed($gutter: $grid-gutter-width) {
  margin-left: auto;
  margin-right: auto;
  padding-left: ($gutter / 2);
  padding-right: ($gutter / 2);
}
 
@mixin generate-columns($container-width, $number-cols, $i: 1){
  @if $i <= $number-cols {
    .grid-col-#{$i} {
      $single-width: $container-width / $number-cols;
      width: $i * $single-width;
    }
    @include generate-columns($container-width, $number-cols, $i + 1)
  }
}
 
@mixin make-grid($container-width) {
  @media (min-width: $container-width) {
    width: $container-width;
    @include generate-columns($container-width, $grid-columns);
  }
}
 
.container {
  @include container-fixed();
  [class*="col"]{
    float: left;
    width: 100%;
  }
  @include make-grid($container-xs);
  @include make-grid($container-sm);
  @include make-grid($container-md);
  @include make-grid($container-lg);
}