* { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
hgroup , address , blockquote , ins , del , object , map , noscript , section , nav , article , aside , header , footer , video , audio , figure , table , f,m , fieldset , menu , canvas , details, main {
	display: block;
}
body {line-height: 1;}
:focus {outline: 0;}
ul, ol {list-style: none;}